.section-1{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #FEDA00;
    padding-top: em(102);
    padding-bottom: em(38);
    z-index: 1;
    &__main{
        position: relative;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__text_block{
        position: relative;
        width: em(532);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: em(56);
    }
    &__text_white{
        position: relative;
        width: 100%;
        span{ 
            font-weight: 500;
            font-size: em(14);
            line-height: 1.7;
            letter-spacing: em(1.4,14);
            text-transform: uppercase;
            color: #fff;
        }
    }
    &__heading{
        position: relative;
        width: 100%;
        margin-top: em(8);
    }
    &__subtext{
        position: relative;
        width: 100%;
        margin-top: em(36);
        p{
            font-weight: 400;
            font-size: em(18);
            line-height: 1.56;
        }
    }
    &__btn{
        position: relative;
        border-radius: em(4,15);
        padding: em(16,15) em(25,15);
        background: $main-blue;
        min-width: em(288,15);
        margin-top: em(40,15);
        transition: .3s ease-in-out;
        outline: none;
        border: none;
        font-weight: 600;
        text-align: center;
        line-height: 1;
        font-size: em(15);
        letter-spacing: em(0.2,15);
        color: #fff;
        padding-inline:0;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        span{
            &.move-item{
                position: absolute;
                height: em(6,15);
                background: #1f1c4e;
                border-radius: em(20,15);
                opacity: 1;
                z-index: -1;
                transition: .3s ease-in-out;
                opacity: 0;
                &--1{
                    width: em(100,15);
                    right: em(-70,15);
                    top: em(0,15);
                    transform: translateX(em(-200,15));
                    transition-delay: .2s;
                }
                &--2{
                    width: em(40,15);
                    right: em(-120,15);
                    top: em(0,15);
                    transform: translateX(em(-200,15));
                    transition-delay: .4s;
                }
                &--3{
                    width: em(60,15);
                    right: em(-30,15);
                    top: em(20,15);
                    transform: translateX(em(-200,15));
                    transition-delay: .1s;
                }
                &--4{
                    width: em(50,15);
                    right: em(-90,15);
                    top: em(20,15);
                    transform: translateX(em(-200,15));
                    transition-delay: .3s;
                }
                &--5{
                    width: em(80,15);
                    right: em(-60,15);
                    top: em(41,15);
                    transform: translateX(em(-200,15));
                    transition-delay: .2s;
                }
                &--6{
                    width: em(20,15);
                    right: em(-95,15);
                    top: em(41,15);
                    transform: translateX(em(-200,15));
                    transition-delay: .4s;
                }
            }
        }
        
        &:hover{
            background: #1f1c4e;
            transition: .3s ease-in-out;
            span{
                &.move-item{
                    opacity: 1;
                    &--1{
                        transform: translateX(0);
                        transition: .3s ease-in-out;
                        transition-delay: .2s;
                    }
                    &--2{
                        transform: translateX(0);
                        transition: .3s ease-in-out;
                        transition-delay: .4s;
                    }
                    &--3{
                        transform: translateX(0);
                        transition: .3s ease-in-out;
                        transition-delay: .1s;
                    }
                    &--4{
                        transform: translateX(0);
                        transition: .3s ease-in-out;
                        transition-delay: .3s;
                    }
                    &--5{
                        transform: translateX(0);
                        transition: .3s ease-in-out;
                        transition-delay: .2s;
                    }
                    &--6{
                        transform: translateX(0);
                        transition: .3s ease-in-out;
                        transition-delay: .4s;
                    }
                }
            }
        }
    }
    &__image_block{
        position: relative;
        width: em(540);
        height: em(455);
        overflow: hidden;
    }
    &__image_1{
        position: absolute;
        top: em(0);
        right: 0;
        width: em(371);
        pointer-events: none;
        user-select: none;
        z-index: 1;
        img{
            width: 100%;
        }
    }
    &__image_2{
        position: absolute;
        bottom: em(-3);
        right: 0;
        width: em(538);
        pointer-events: none;
        user-select: none;
        z-index: 2;
        img{
            width: 100%;
            animation: 3s pulse ease-in-out infinite;
        }
    }
}
@media(max-width:1024px) and (orientation:portrait){
    .section-1{
        padding-top: em(110);
        padding-bottom: em(150);
        &__main{
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
        &__text_white{
            text-align: center;
        }
        &__btn{
            font-size: 1.2rem;
            margin-left: auto;
            margin-right: auto;
        }
        &__heading{
            margin-top: em(20);
            text-align: center;
        }
        &__text_block{
            width: 100%;
        }
        &__subtext{
            text-align: center;
        }
        &__image_block{
            margin-top: em(80);
        }
    }
}
@media(max-width:1024px) and (orientation:landscape){
    .section-1{
        padding-top: em(110);
        padding-bottom: em(150);
        &__main{
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
        &__text_white{
            text-align: center;
        }
        &__btn{
            font-size: 1.2rem;
            margin-left: auto;
            margin-right: auto;
        }
        &__heading{
            margin-top: em(20);
            text-align: center;
        }
        &__text_block{
            width: 100%;
        }
        &__subtext{
            text-align: center;
        }
        &__image_block{
            margin-top: em(80);
        }
    }
}

@media(max-width:500px) and (orientation:portrait){
    .section-1{
        padding-top: em(60);
        &__text_white{
            text-align: center;
            font-size: 1.5rem;
        }
        &__btn{
            font-size: 1.5rem;
            .move-item{
                display: none;
            }
        }
        &__heading{
            font-size: 1.5rem;
        }
        &__subtext{
            text-align: center;
            font-size: 1.5rem;
        }
        &__image_block{
            margin-top: em(80);
            font-size: 0.8rem;
        }
    }
}
@media(max-width:500px) and (orientation:landscape){
    .section-1{
        padding-top: em(60);
        &__text_white{
            text-align: center;
            font-size: 1.5rem;
        }
        &__btn{
            font-size: 1.5rem;
            .move-item{
                display: none;
            }
        }
        &__heading{
            font-size: 1.5rem;
        }
        &__subtext{
            text-align: center;
            font-size: 1.5rem;
        }
        &__image_block{
            margin-top: em(80);
            font-size: 0.8rem;
        }
    }
}