html{
	height: 100%;
	background: #F5F5F5;
	font-size: 1rem;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: $main-purple;
	h1{
		font-weight: 500;
		font-size: em(38);
		line-height: 1;
		letter-spacing: em(-0.1,38);
	}
	h2{
		font-weight: 500;
		font-size: em(36);
		line-height: 1;
	}
}
body{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100%;
	-webkit-tap-highlight-color: transparent;
	&.locked{
		overflow: hidden;
	}
}
.container{
	position: relative;
	width: em(1100);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin-left: auto;
	margin-right: auto;
}
@media(min-width:1921px) and (orientation:landscape){
	html{
		font-size: 0.83333333vw;
	}
}
@media(max-width:1200px) and (orientation:landscape){
	html{
		font-size: 0.8rem;
	}
}
@media(max-width:1024px) and (orientation:portrait){
	html{
		font-size: 2vw;
	}
	.container{
		width: 80%;
	}
}
@media(max-width:1024px) and (orientation:landscape){
	html{
		font-size: 2vw;
	}
	.container{
		width: 80%;
	}
}
@media(max-width:500px) and (orientation:portrait){
	html{
		font-size: 3vw;
	}
	.container{
		width: 90%;
	}
}
@media(max-width:500px) and (orientation:landscape){
	html{
		font-size: 3vw;
	}
	.container{
		width: 90%;
	}
}