doctype html
html
	include includes/head
	body
		.body-wrap
			include includes/header
			section.section-1 
				.container
					.section-1__main 
						.section-1__text_block 
							.section-1__text_white 
								span Національна програма мобільності молоді
							.section-1__heading
								h1 Мандруй! Уявляй! Відкривай!
							.section-1__subtext 
								p Найбільша в Центральній та Східній Європі 7-денна програма внутрішніх обмінів для молоді віком від 14 до 21 року. Її ініціатором є Міністерство культури, молоді та спорту України, в основу діяльності якого покладені демократичні цінності та принципи всебічного розвитку особистості.
							a.section-1__btn(href="#") Стати учасником програми МУВ
								span.move-item.move-item--1
								span.move-item.move-item--2
								span.move-item.move-item--3
								span.move-item.move-item--4
								span.move-item.move-item--5
								span.move-item.move-item--6
						.section-1__image_block 
							.section-1__image_1 
								img(src="./public/img/section-1/image-1.png", alt="")
							.section-1__image_2 
								img(src="./public/img/section-1/image-2.svg", alt="")
			section.section-2
				.container
					.section-2__heading 
						h2 FAQ
					.section-2__subtext 
						span Clicca sulle domande per aprire e leggere le risposte.
					.section-2__accordion
						.section-2__accordion_item.dropdown-item 
							.section-2__item_heading 
								span Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							.section-2__item_text.dropdown-text 
								span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst pulvinar est facilisi condimentum commodo, mattis est nisl facilisis. Sem augue dolor fusce sed. Tempus suscipit turpis eu pellentesque turpis non. In consectetur magna feugiat id nisl lorem leo vel eget.  Tempus suscipit turpis eu pellentesque turpis non. 
							.section-2__item_plus 
								span 
								span
						.section-2__accordion_item.dropdown-item 
							.section-2__item_heading 
								span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra mi lacinia aliquam quis morbi orci at nisi, dignissim.
							.section-2__item_text.dropdown-text 
								span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst pulvinar est facilisi condimentum commodo, mattis est nisl facilisis. Sem augue dolor fusce sed. Tempus suscipit turpis eu pellentesque turpis non. In consectetur magna feugiat id nisl lorem leo vel eget.  Tempus suscipit turpis eu pellentesque turpis non. 
							.section-2__item_plus 
								span 
								span
						.section-2__accordion_item.dropdown-item 
							.section-2__item_heading 
								span Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							.section-2__item_text.dropdown-text 
								span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst pulvinar est facilisi condimentum commodo, mattis est nisl facilisis. Sem augue dolor fusce sed. Tempus suscipit turpis eu pellentesque turpis non. In consectetur magna feugiat id nisl lorem leo vel eget.  Tempus suscipit turpis eu pellentesque turpis non. 
							.section-2__item_plus 
								span 
								span
						.section-2__accordion_item.dropdown-item 
							.section-2__item_heading 
								span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra mi lacinia aliquam quis morbi orci at nisi, dignissim.
							.section-2__item_text.dropdown-text 
								span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst pulvinar est facilisi condimentum commodo, mattis est nisl facilisis. Sem augue dolor fusce sed. Tempus suscipit turpis eu pellentesque turpis non. In consectetur magna feugiat id nisl lorem leo vel eget.  Tempus suscipit turpis eu pellentesque turpis non. 
							.section-2__item_plus 
								span 
								span
						.section-2__accordion_item.dropdown-item 
							.section-2__item_heading 
								span Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							.section-2__item_text.dropdown-text 
								span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst pulvinar est facilisi condimentum commodo, mattis est nisl facilisis. Sem augue dolor fusce sed. Tempus suscipit turpis eu pellentesque turpis non. In consectetur magna feugiat id nisl lorem leo vel eget.  Tempus suscipit turpis eu pellentesque turpis non. 
							.section-2__item_plus 
								span 
								span

		include includes/foot
